:root {
  --bg-color: #2a7270;
  --bg-color2: white;
  --border-color: black;
  --border-color-2: white;
  --font-color: ivory;
  --font-color-2: white;
  --font-color-3: red;
  --line-color: red;
  --bg-color-btn: orange;
}
.wrapper_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

/* нужно будет в дз сделать импорт */
/* @import 'resert.css'; */

@import url('/header.css');
@import url('/promo.css');
@import url('/info.css');
@import url('/faq.css');
@import url('/footer.css');









